*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

body{
    background-color: rgb(244,244,244);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    height: 100px;
    background-color: rgb(45,114,218);
}
.header .headcontent{
    margin: 0 auto;
    padding: 20px;
    width: 1140px;
}
.header .headcontent .headleft{
    float: left;
    height: 60px;
}
.header .headcontent .headright{
    float: right;
    height: 60px;
}

.banner{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 40px 20px 40px;
    width: 1140px;
    height: 380px;
    background-image: url(../images/banner.png);
}
.banner .bannerleft{
    display: inline-block;
    box-sizing: border-box;
    margin-right: 40px;
    
    width: 600px;
    height: 300px;
}
.banner .bannerleft .text{
    box-sizing: border-box;
    margin-right: 40px;

    width: 600px;
    height: 300px;
}
.banner .bannerleft .text h1{
    float: left;
    padding-bottom: 20px;
    color: white;
    font-size: 32px;
}
.banner .bannerleft .text .introduction {
    float: left;
    text-indent: 2em;
    color: white;
    font-size: 18px;
}

.banner .bannerright{
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 0 0 0;

    width: 400px;
    height: 300px;
}
.banner .bannerright .video{
    box-sizing: border-box;
    float: right;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 16px 0 16px;

    width: 400px;
    height: 207px;
}
.banner .bannerright .video video{
    width: 368px;
    height: 207px;
}

.banner .bannerright .buttonscope{
    float: right;
    display: inline-block;
    box-sizing: border-box;
    padding: 21.5px 0 21.5px 0;

    width: 400px;
    height: 93px;
}
.banner .bannerright .buttonscope .button{
    margin: 0 auto;
    text-align: center;
    width: 150px;
    height: 50px;
}
.banner .bannerright .buttonscope .button .excercisebutton{
    margin: 0 auto;
    text-align: center;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(45,114,218);
    color: white;
}
.banner .bannerright .buttonscope .button .excercisebutton:hover{
    background-color: rgb(196, 127, 0);
}

.wrapper{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 40px 20px 40px;
    width: 1140px;
    border-left: 1px solid rgb(203, 203, 203);
    border-right: 1px solid rgb(203, 203, 203);
    background-color: rgb(255, 255, 255);

    flex-grow: 1;
    overflow-y: auto;
}
.wrapper .title{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
}
.wrapper .label{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px dotted rgb(203, 203, 203);
    height: 30px;
}
.wrapper .label ul{
    list-style: none;
}
.wrapper .label ul li{
    float: left;
    border-right: 2px solid rgb(194, 194, 194);
    text-decoration: none;
    width: 100px;
    height: 30px;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
}
.wrapper .label ul .selected{
    color: rgb(45,114,218);
}
.wrapper .label ul li a{
    color: black;
}
.wrapper .text{
    text-indent: 40px;
    padding: 0px 16px 0px 16px;
    text-align: center;
}
.wrapper .text p{
    text-align: left;
    font-size: 20px;
    padding-bottom: 5px;
}
.wrapper .text .picture{
    text-align: center;
    text-indent: 0;
    font-size: 15px;
    padding-bottom: 5px;
}

.footer{
    height: 110px;
    background-color: rgb(45,114,218);
    position: sticky;
}
.footer .content{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 30px 40px 30px 40px;
    width: 1140px;
    text-align: center;
}
.footer .content p{
    color: white;
}